<h4><%= link_to "Back to subreddits", subreddits_path %></h4>

<h1><%= @subreddit.display_name %></h1>

<% @subreddit.links.each do |link| %>
  <%= render partial: "link", locals: { link: link } %>
<% end %>
